#autolog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    cursor: pointer;
    transition: .2s
}

#autolog>span {
    pointer-events: auto;
    width: max-content;
    animation: fadein .4s;
    animation-delay: 0s;
    border-radius: 6px;
    padding: 10px 20px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, .1);
    margin: 4px;
    transition: .2s;
    z-index: 9999999;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: max-content;
    overflow: hidden
}

#autolog>span>span {
    max-width: 50vw
}

#autolog span.hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    height: 0;
    padding: 0;
    margin: 0
}

.autolog-warn {
    background-color: #fffaec;
    color: #e29505
}

.autolog-error {
    background-color: #fde7e7;
    color: #d93025
}

.autolog-info {
    background-color: #e6f7ff;
    color: #0e6eb8
}

.autolog-success {
    background-color: #e9f7e7;
    color: #1a9e2c
}

.autolog- {
    background-color: #fafafa;
    color: #333
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}